/*login*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*table sort*/


table th {
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  left: 10px;
}

table th.desc:after {
  border-top-color: #666;
}

table th.asc:before {
  border-bottom-color: #666;
}

table th:after, table th:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

table th:after {
  border-top-color: #ddd;
  top: 22px;
}

table th:before {
  border-bottom-color: #ddd;
  top: 10px;
}
